<form>
    <h2>Detalles de la cuenta</h2>
    <label for="name">NOMBRE</label>
    <input class="input-holder" type="text" id="name" placeholder="Nombre">
    <label for="surname">APELLIDOS</label>
    <input class="input-holder" type="text" id="surname" placeholder="Apellidos">
    <label for="email">CORREO</label>
    <input class="input-holder" type="email" id="email" placeholder="Correo">
    <h2>Contraseña</h2>
    <label for="new-password">NUEVA CONTRASEÑA</label>
    <input class="input-holder" type="password" id="new-password" placeholder="Nueva Contraseña">
    <label for="repeat-password">REPITE LA CONTRASEÑA</label>
    <input class="input-holder" type="password" id="repeat-password" placeholder="Repite la nueva contraseña">
    <button type="submit">Guardar cambios</button>
</form>