<div class="account-container">
  <div class="sidebar">
    <div class="profile">
      <img src="path_to_image.jpg" alt="Foto de perfil">
      <h3>Sofia Hernandez</h3>
    </div>
    <nav class="navigation">
      <ul>
        <li (click)="changeView('details')">Cuenta</li>
        <li (click)="changeView('addresses')">Dirección</li>
        <li (click)="changeView('orders')">Pedidos</li>
        <li>Cerrar Sesión</li>
      </ul>
    </nav>
  </div>
  <div class="account-details">
    <!-- Sección de detalles de la cuenta -->
    <div *ngIf="activeView === 'details'" class="form">
      <form>
        <h2>Detalles de la cuenta</h2>
        <label for="name">NOMBRE</label>
        <input class="input-holder" type="text" id="name" placeholder="Nombre">
        <label for="surname">APELLIDOS</label>
        <input class="input-holder" type="text" id="surname" placeholder="Apellidos">
        <label for="email">CORREO</label>
        <input class="input-holder" type="email" id="email" placeholder="Correo">
        <h2>Contraseña</h2>
        <label for="new-password">NUEVA CONTRASEÑA</label>
        <input class="input-holder" type="password" id="new-password" placeholder="Nueva Contraseña">
        <label for="repeat-password">REPITE LA CONTRASEÑA</label>
        <input class="input-holder" type="password" id="repeat-password" placeholder="Repite la nueva contraseña">
        <button type="submit">Guardar cambios</button>
      </form>
    </div>
    
    <!-- Sección de direcciones del usuario -->
    <div *ngIf="activeView === 'addresses'">
      <!-- Aquí iría el HTML y el formulario para las direcciones de entrega y de pago, etc. -->
    </div>

    <!-- Sección de pedidos del usuario -->
    <div *ngIf="activeView === 'orders'">
      <!-- Aquí iría el HTML para mostrar los pedidos del usuario, etc. -->
    </div>
  </div>
</div>
