<div class="product-container">
        <div class="product-details">
            <h2 class="title">Desayunos</h2>
            <a class="buynow">Comprar ahora</a>
            <img src="./assets/Imagenes-product-buttons-mainpage/Desayunos.png" alt="Product Image" class="product-image">
        </div>
        <div class="small-product-detail">
            <div class="content-wrappitem1">
                <div class="content">
                <div class="div">
                    <h2 class="title">Ramos</h2>
                    <a class="buynow" >Comprar ahora</a>
                    <img src="./assets/Imagenes-product-buttons-mainpage/Ramos.png" alt="Product Image" class="product-image">
                </div>
                </div>
            </div>
            <div class="div-wrappitem2">
                <div class="content">
                <div class="div">
                    <h2 class="title">Cupcakes</h2>
                    <a class="buynow">Comprar ahora</a>
                    <img src="./assets/Imagenes-product-buttons-mainpage/Cupcakes.png" alt="Product Image" class="product-image">
                </div>
                </div>
            </div>

        </div>
</div>