.product-container {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row; 
    align-items: center;
    justify-content: end;
    gap: 85px;
    position: relative;
    background-color: var(--background-color);
    margin: 2% 0;
}

.product-container .product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Centra los elementos verticalmente */
    padding: 20px;
    /* Añade un poco de espacio alrededor del contenido interno */
    position: relative;
    width: auto;
    /* Ajusta el ancho según sea necesario */
    height: auto;
    /* Ajusta la altura según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Ajusta la sombra para que coincida con tu diseño */
    background-color: #FFF7F0;
    /* Cambia al color de fondo deseado */
    border-radius: 16px;
    /* Ajusta según sea necesario para redondear las esquinas */
    margin: 0;
    /* Asegúrate de que no hay margen externo que afecte la posición */
    z-index: 10;
    /* Asegúrate de que se sobreponga a otros elementos si es necesario */
    transition: transform 0.3s ease;
    /* Suaviza la transformación */
}

.product-container .product-details:hover {
    transform: scale(1.02)
}

.large-product{
      /* Estilos para el producto Desayunos */
      flex-basis: 20%; /* O el ancho que desees para el gran producto */
      /* Otros estilos */
}

.title {
    font-family: var(--principal-font-family);
    background-color: #FFF7F0;
}

.buynow {
    font-family: var(--principal-font-body-family);
    background-color: var(--color-background-button)
}


.small-product-container {
    width: fit-content;
  /* Organiza los productos pequeños en una columna */
  display: flex;
  flex-direction: column;
  /* El ancho que desees para esta columna, puede ser un porcentaje o un valor fijo */
  flex-basis: 50%; 
  /* Espacio entre los productos pequeños */
  gap: 30px; 
}



.small-product{
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: space-between; /* Separa el texto y la imagen */
    width: 65%; /* Ocupa el 100% del ancho de su contenedor padre */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #FFF7F0;
    border-radius: 16px;
    overflow: hidden; /* Oculta los elementos que desborden los bordes redondeados */
    transition: transform 0.3s ease;
}

.product-container .small-product:hover {
    transform: scale(1.02)
}

.text-side {
    /* Alinear el texto a la izquierda */
    text-align: left;
    padding: 0 20px; /* Añadir padding a izquierda y derecha si es necesario */
    flex: 1; /* Permite que este lado crezca y se ajuste al contenido */
    background-color: #FFF7F0;
}

.image-side {
    flex: 1; /* Permite que este lado crezca y se ajuste al contenido */
    display: flex;
    align-items: center; /* Centra la imagen verticalmente */
    justify-content: center; /* Centra la imagen horizontalmente */
}

.product-image {
    width: auto; /* Mantiene la proporción original de la imagen */
    max-width: 100%; /* Asegura que la imagen no se estire más allá de su contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
}

