<div class="product-container">
    <div class="product-details large-product">
        <h2 class="title">Desayunos</h2>
        <a class="buynow">Comprar ahora</a>
        <img src="./assets/Imagenes-product-buttons-mainpage/Desayunos.png" alt="Product Image" class="product-image">
    </div>


    <div class="small-product-container">
        <div class="small-product">
            <div class="text-side">
                <h2 class="title">Ramos</h2>
                <a class="buynow">Comprar ahora</a>
            </div>
            <div class="image-side">
                <img src="./assets/Imagenes-product-buttons-mainpage/Ramos.png" alt="Product Image"
                    class="product-image">
            </div>
        </div>

        <!-- Detalles del producto Cupcakes -->
        <div class="small-product">
            <div class="text-side">
                <h2 class="title">Cupcakes</h2>
                <a class="buynow">Comprar ahora</a>
            </div>
            <div class="image-side">
                <img src="./assets/Imagenes-product-buttons-mainpage/Cupcakes.png" alt="Product Image"
                    class="product-image">
            </div>
        </div>
    </div>
</div>