.container {
    display: flex;
    padding: 20px;
    width: 100%;
  }
  
  .contact-information-big{
    width: 60%;
  }
  .order-summary{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 25%;
    margin-left: 5%;
    background-color: #ffffff;
  }
  .order-summary *{
    background-color: #ffffff;
  }
  .contact-information, .order-summary {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: #ff0000 1px solid;
  }
  .contact-Columns{
    width: 100%;
    align-items: start;
    display: flex;
  }

  .input-group {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-right: 5%;
  }
  .input-group input{
    width: 40%;
  }

  .contact-information h2, .order-summary h2 {
    color: #333;
    margin-bottom: 15px;
  }
  
  .contact-information input, .contact-information button {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .contact-information input{
    background-color: #ffffff;
  }
  
  .contact-information button {
    cursor: pointer;
  }
  
  .order-summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .order-summary .price-details {
    width: 100%;
    text-align: right; 
  }
  
  label{
    display: flex;
    margin-bottom: 1%;
  }
  

  /*Resumen*/
  .product-list {
    width: 100%;
  }
  
  .product-header, .product-item {
    display: grid;
    grid-template-columns: 2fr 1fr ;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  
  .product-header {
    font-weight: bold;
    border-bottom: 1px solid;
    padding-bottom: 1%;
    margin-bottom: 2%;
  }
  
  .product-item {
    margin-top: 2%;
    border-radius: 10px;
    margin-bottom: 2px;
  }
  
  .product-info {
    display: flex;
    gap: 10px;
  }

  .product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 100%;
  }

  .product-description >div{
    width: 100%;
    font-size: 100%;
    text-align: start;
  }

  .Title-Description{
    font-weight: bold;
  }
  
  .product-image img {
    width: 75px;
    height: auto;
    background-color: #ddd; /* Placeholder for product image */
  }
  
  .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
  }
  
  .quantity input {
    display: flex;
    width: 15%;
    text-align: center;
    border: none;
    justify-content: center;
  }
  
  .price, .subtotal1 {
    text-align: center;
    display: block;
  }
  
  button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #db5461;
    color: white;
  }

  .order-summary > .confirm {
    width: 100%;
    background-color: #db5461;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-summary > .confirm:hover {
    background-color: #c03a4b;
  }

  .order-summary > .Regresar {
    margin-top: 1%;
    width: 100%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .order-summary > .Regresar:hover {
    background-color: #757575;
    color: white;
  }