<!DOCTYPE html>
<div>

</div>
<div>
    <div>

    </div>
    <div class="section-desc-item">
        <div class="desc-item">
            <h2 class="tittle">Titulo </h2>
            <p class="star">star</p>
            <p class="price"> $3423</p>
            <p class="descripcion">Corazón de madera con girasoles, vino, ferreros y copa personalizada con nombre,
                globo y frase personalizada en la caja</p>
        </div>
        <div class="papel-desc">

        </div>
        <div class="sabor-selection">
            <h2 class="title">Seleccionar chocolates</h2>
            <button>Ferrero</button>
            <button>Kisses</button>
            <button>
                Carlos V
            </button>
            <button>Milky Way</button>
        </div>
        
    </div>
</div>
<div>

</div>