<div class="confirmation-container">
    <h1>¡Gracias! 🎉</h1>
    <p>Tu orden ha sido recibida</p>
  
    <div class="product-container">
      <!-- Aquí irían los componentes o divs para cada producto con su cantidad -->
      <!-- Ejemplo para un producto -->
      <div class="product">
        <img src="./assets/Imagenes-Cart/Producto-1.jpg" alt="Producto">
        <span class="quantity">1</span>
      </div>
      <div class="product">
        <img src="./assets/Imagenes-Cart/Producto-2.jpg" alt="Producto">
        <span class="quantity">1</span>
      </div>
      <div class="product">
        <img src="./assets/Imagenes-Cart/Producto-3.jpg" alt="Producto">
        <span class="quantity">1</span>
      </div>
      <!-- Repite el div anterior para cada producto -->
    </div>
  
    <div class="order-details">
      <p><strong>Código de Orden:</strong> #0123_45678</p>
      <p><strong>Fecha:</strong> October 19, 2023</p>
      <p><strong>Total:</strong> $1,345.00</p>
      <p><strong>Método de pago:</strong> Tarjeta de crédito</p>
    </div>
    
  
    <button class="history-button">Historial de compra</button>
  </div>
  