/* Estilo del contenedor principal del carrusel */
.carousel-slide {
    display: flex; /* Habilita flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Altura total de la ventana */
    margin: 1%;
}

/* Estilo de la imagen y las flechas */
.carousel-inner, .Boton-Flecha {
    flex: none; /* Evita que los elementos se estiren */
}

/* Estilo de las flechas */
.Boton-Flecha {
    background: none; /* Elimina el fondo */
    border: none; /* Elimina los bordes */
    cursor: pointer; /* Cambia el cursor a mano */
}

/* Animación de aparición para la imagen */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.carousel-inner img {
    width: 500px; /* Tamaño de la imagen, ajusta según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    animation: fadeIn 1s ease-in-out; /* Aplica la animación */
}

