
    <div class="Values">
        <a class="Card" routerLink="/Inicio">
            <img class="Icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAjZJREFUSEu11UnIT2EUBvDfRzLGhgxhqQxlY0HYKCtDFsqKJCXJyjxlVqYMmbIS1iiWigxlKFlRyoqIRNigDJ2vc3W//3fv3/3S967e973nnOc9zznnuR16eXX0cnw9AZiAIxiFdbjb5HFNAEZgL1aibynoVWzAy3ZA7QAGYCM2YRA+4jCGZAbx/SfOYCc+VQFVAcTdcuzDmJLTGpzFb4zGHqxAH3zGARzHjzJQK8AcnMTkNLqCaRif5ydYjUd5jrrsx+I8v8ZWXM6HdCnyRSxNwztYj8fon1yH48D8fgGb8S7P03EIs/P8ADNiX84gUi/W/eT5YekuaDmGJXn3JWk6gSk4hZkl+87YVQDhODQNo1PipS9KjhHkXAaN66BlbH6PWgzLfS3AcGxHFLUffuF8vvZtOg/G7axPgb07i1x0Uy1AkdW47KSoS9x9w9HskrWIh1Q1TEH1PwEK54k4iAUtAe9hB26VKSm6p6C/qgZ1wxfcR9BYc3Ez911e/D8AEa81WNxFBsF/1KSbTVUGsxBtWrWqAMp25Sy71eA65qf1NWzDsxaUOoBJOdGL0j5iLYx9K9/zciLDIdrzUhbyVQ3f0WmhSctSk56nQN4oHlZV0JDkkObgdSS+43SK2Yd0jBYN6YhZCSl5j105L6Gwf1c7uY5hKuQ6gpQnvNgHeEh46NDXqqI1+eGEZIcUx8CFNBedEvRtwZuahui8bgJQ+E9NCuK8Ck/bBW5XgyZ+jW16kkHjoGXDP0DNcxmvtiFXAAAAAElFTkSuQmCC"/>
            <div class="text">
                <div class="title">Formas de envio</div>
                <div class="subtitle">Danos tu referencia</div>
            </div>
        </a>
        <a class="Card"  routerLink="/Inicio">
            <img class="Icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAThJREFUSEvd1bsuRVEQBuDvdAqdawgST6BUUpDwAkgUCglPQLyAQuIBJEShoVQSCQW1RqtwS9wbPTKydnKyhbOPc3ZjqnWZ9f+zZv5Zq6Jkq5SM738RHGOkSSk7wWhgVafoo0ngGcwX9m8EL2gvSPqMtpxvTYJdzBQkCN+pogQPOMASYhzWjU0Mp/kZ5vFUtb+OMXSktR9vkJdugJ8nkuogbzCE11zkWS0LE+xgFvtYSWAR7QQ2sNgowR160IXHBDaIS1xjoFGCW/SiDzEO68dVmsd6tdWdom3MpRQtowWrmMRWKnZDBKGKC3TmIo3bRJGjX+oiCGkeJpnep5NRg0ym7zjFQk7GaxhPtYpjNRttD9NlNFqGWc9T8YbWop1cMOiabt9S1Mzn+ig9G//sR6uZ1L84lP7pfwLDt0UZg0iZAwAAAABJRU5ErkJggg=="/>
            <div class="text">
                <div class="title">Cancelaciones</div>
                <div class="subtitle">Cancela tu pago</div>
            </div>
        </a>
        <a class="Card" routerLink="">
            <img class= "Icon"src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASZJREFUSEvd1cEqRUEcx/HP9QqSpJQotl5Bws5G3kFZyUY2dC3Iwop3sLJTlFewsLEiSrKQNxCN5tZx7jl37jnHLZnVdP4zv+/85/+b/2kZ8GgNWF+/gFWsYz4e6BonOE8dsB/AEbZKhHax1wuSAqzhLAq0cRrnG9iJ8yVclUFSgBvMYRPHOZEA2McllusCPjCEEbzlRMbwgncM1wV8xo1lmabiSRelBFLxQsAKDjCbsmAufhfddpH9XpT6M8YrineWP2AqBUimXQIv3FeUwf8FdIofMgyt40cx0fiKXjEa77+rmL8BCKKTEXCP6VyxG2ewGPtO0F1AaNnZ0RgQxHo57O8AnjBR8yU/Zur0LVH00IIdDzFTEXKL7bx9Uz+ciozu5QMHfAELFjwZKiWF+QAAAABJRU5ErkJggg=="/>
            <div class="text">
                <div class="title">Pago Seguro</div>
                <div class="subtitle">Asegurado por Mercado pago</div>
            </div>
        </a>
        <a class="Card" routerLink="">
            <img class="Icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAXpJREFUSEvF1DFIVXEUx/HP28SgQHTQwS0SQQcRB7fAjBCXJjfBRdGo0UB0SRKHxmqUlgLbGgJxUsTFQRAcosXA1cUQRBLlL/fBvz/v6rv3KR64y//e8/3d3/mfcyruOCp3zHcvAkH0LR7jDf424jJ18BCreJ5Bt/EUZ2VFUoE99CSwH3iJ8zIiqcBFDmQFE7chcILmHNAc3hcVSR3sozsH8hMjjQp8w1gNyC8M4bBRgSl8TiC7eIajovDwfVqiTvxJQF0IDkpFrUkObTka0RbwrhS9hoPA6cdOBDzNzkIDxNGOD1jDl7wfyNtFHzEdJR1gGL+zszZsIpQvxCLma4nkCTRhAwNRUpiRJXzPnt4E+Amv8N+wXrdNW7GFJwXq/xXj+FfNuWldP8r+NrRpvRGczNQrUG3l19mayFsjsfhytu6vzm5yECeGi51FGMYHOXbW8SLevEUEqswWTGIQfejIXoRhDE1xHIuXEaj3LgqXqBC4yCWXAleTLgETkTUZXHhRFwAAAABJRU5ErkJggg=="/>
            <div class="text">
                <div class="title">Contacto</div>
                <div class="subtitle">Telefono o Whatsapp</div>
            </div>
        </a>
    </div>
