<!-- shopping-cart.component.html -->
<div class="shopping-cart-container">
    <div class="product-list">
      <!-- Iterar sobre cada producto y mostrar sus detalles -->
      <!--*ngFor="let product of products"-->
      <div class="product" >
        <!-- HTML para mostrar los detalles del producto -->
      </div>
    </div>
    <div class="cart-summary">
      <!-- Resumen del carrito -->
      <div class="subtotal">
        <!-- Mostrar subtotal -->
      </div>
      <div class="shipping">
        <!-- Opciones de envío -->
      </div>
      <div class="total">
        <!-- Mostrar total -->
      </div>
      <!--(click)="confirmOrder()"-->
      <button >Confirmar</button>
    </div>
  </div>
  