<div class="container-general">
    <div class="container-search">
        <div class="component-filter">
            Aqui va el contenido de filtro
            <app-filter-component></app-filter-component>
        </div>
    </div>
    <div class="container-list">
        <div class="category">
            <h2 class="category-name">Cupcakes</h2>
            <div class="listado">mostrando productos </div>
        </div>
        <div class="product-list">
            <div class="product-item" routerLink="/Producto"><!--*ngFor="let product of products"-->
                <img src="./assets/Imagenes-detail-product-page/pastel4.png" class="Product-Img" alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>
            <div class="product-item"><!--*ngFor="let product of products"-->
                <img class="Product-Img" src="./assets/Imagenes-detail-product-page/pastel4.png"
                    alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>
            <div class="product-item"><!--*ngFor="let product of products"-->
                <img class="Product-Img" src="./assets/Imagenes-detail-product-page/pastel4.png"
                    alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>
            <div class="product-item"><!--*ngFor="let product of products"-->
                <img class="Product-Img" src="./assets/Imagenes-detail-product-page/pastel4.png"
                    alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>
            <div class="product-item"><!--*ngFor="let product of products"-->
                <img class="Product-Img" src="./assets/Imagenes-detail-product-page/pastel4.png"
                    alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>
            <div class="product-item"><!--*ngFor="let product of products"-->
                <img class="Product-Img" src="./assets/Imagenes-detail-product-page/pastel4.png"
                    alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>
            <div class="product-item"><!--*ngFor="let product of products"-->
                <img class="Product-Img" src="./assets/Imagenes-detail-product-page/pastel4.png"
                    alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>
            <div class="product-item"><!--*ngFor="let product of products"-->
                <img class="Product-Img" src="./assets/Imagenes-detail-product-page/pastel4.png"
                    alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>
            <div class="product-item"><!--*ngFor="let product of products"-->
                <img class="Product-Img" src="./assets/Imagenes-detail-product-page/pastel4.png"
                    alt="Producto imagen" /><!-- [src]="product.imageUrl" alt="{{ product.name }}"-->
                <h3 class="titulo-product"><!--{{ product.name }}-->Cupcakes adornados</h3>
                <p class="class-desc"><!--{{ product.description }}-->5 puchunguitos de sabores</p>
                <div class="price">
                    <span class="new-price">$435<!--{{ product.price | currency }}--></span>
                    <span
                        class="old-price">$1231<!--*ngIf="product.oldPrice" {{ product.oldPrice | currency }}--></span>
                </div>
                <button class="addcart"> <!--(click)="addToCart(product)"-->Agregar al Carrito</button>
            </div>

        </div>
    </div>
</div>