.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    
  }
  
  .product-item {
    border: 1px solid #ddd;
    margin-bottom: 2rem;
    width: calc(33.333% - 2rem);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
  }
  .category{
    width: 100%;
    display: flex;
    gap: 16px;
}

.category .listado{margin-left: auto;}
  

  .product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .price {
    margin: 1rem 0;
  }
  
  .new-price {
    font-weight: bold;
    color: #e74c3c;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #95a5a6;
    margin-left: 0.5rem;
  }
  
  .addcart {
    background-color: #b94242;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 8px;
  }
  
  .addcart:hover {
    background-color: #c0392b;
  }
  
  .category-name{
    font-family: var(--principal-font-family);
  }