<div class="product-slider">
    <div class="product-container" #productContainer>
        <!-- *ngFor="let product of products"-->
      <div class="product-card">
        <img [src]="" alt="Product Image">
        
        <p class="product-title"><!--{{ product.name }}--></p>
        <p class="product-price"><!--${{ product.price }}--></p>
        <button class="add-to-cart">Agregar al carrito</button>
        <!-- Aquí agregar la calificación con estrellas -->
      </div>
    </div>
    <div class="scrollbar-container">
        <!-- *ngFor="let product of products; let i = index" (click)="scrollToProduct(i)" --> 
      <button class="scroll-button"  > •</button>
    </div>
  </div>
  