<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        <a routerLink="/Inicio">Made With Love</a>
      </div>
      <div class="footer-logo-complemento">
       
    </div>
      <div class="footer-links">
        
        <a routerLink="/Categorias">Categoría</a>
        <a routerLink="/Eventos">Eventos</a>
        <a routerLink="/Nuevos">Nuevos</a>
        <a routerLink="/Ofertas">Ofertas</a>
        <a routerLink="/Contactanos">Contáctanos</a>
      </div>
      <div class="footer-legal">
        <a routerLink="/Politica">Política de privacidad</a>
        <a routerLink="/Terminos">Términos de uso</a>
      </div>
      <div class="footer-social-media">
        <a routerLink="/Instagram"><i class="instagram-icon"></i></a>
        <a routerLink="/Facebook"><i class="facebook-icon"></i></a>
        <a routerLink="/Twitter"><i class="twitter-icon"></i></a>
      </div>
    </div>
    <div class="footer-copy">
      <p>Copyright © 2023 Made With Love. Todos los derechos reservados</p>
      <a>Faceebook</a>
      <a>Instragram</a>
      <a>Whatsaap</a>
    </div>
  </footer>
  