<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="/">Made With Love</a>
      </div>
      <div class="footer-logo-complemento">
        <a>Tienda de regalos</a>
    </div>
      <div class="footer-links">
        
        <a href="/categorias">Categoría</a>
        <a href="/eventos">Eventos</a>
        <a href="/nuevos">Nuevos</a>
        <a href="/ofertas">Ofertas</a>
        <a href="/contactanos">Contáctanos</a>
      </div>
      <div class="footer-legal">
        <a href="/politica">Política de privacidad</a>
        <a href="/terminos">Términos de uso</a>
      </div>
      <div class="footer-social-media">
        <a href="/instagram"><i class="instagram-icon"></i></a>
        <a href="/facebook"><i class="facebook-icon"></i></a>
        <a href="/twitter"><i class="twitter-icon"></i></a>
      </div>
    </div>
    <div class="footer-copy">
      <p>Copyright © 2023 Made With Love. Todos los derechos reservados</p>
    </div>
  </footer>
  